body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    background: url('./../assets/imgs/backgroundB.jpg');
    background-position-y: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*---------------header------------------*/
.font-title1{
    font-size: 32px;
}

.mainName{
    height: 100%;
}

.mainName a:hover{
    text-decoration:none;
}

header{
    height: auto;
    padding: 1em;
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
}

.navBar{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navLink{
    line-height: 3em;
    height: 3em;
    width: auto;
    position: relative;
    overflow: hidden;
}

/*--------------------------------*/

main{
    margin-top: 7em;
}

/*-----------imgHome--------------*/
.imgHome{
    position: absolute;
    /*background-color: rgb(184, 202, 255);*/
    background-image: linear-gradient(rgb(155, 238, 253),rgb(0, 129, 214),rgb(0, 108, 151));
    top: 50px;
    height: 100%;
    width: 100%;

    transition-property: top;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

/*--------------------------------------*/

/*----------imágenes--------------------*/

.imgCard1{
    height: 320px;
    width: 100%;
}

.quickView{
    
    /*position: absolute;*/
    position: absolute;
    left: 0px;
    bottom: -70px;
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: rgba(23,23,23,0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: bottom;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

/*--------------------------------------*/

.bg-orange{
    background-color: rgb(132, 219, 253);
}

.bg-red{
    background-color: rgb(221, 36, 36);
}

.bg-customBlue{
    background-color: rgb(0, 124, 207);
}

.bg-lightBlue{
    background-color: rgb(0, 174, 255);
}

.bglightgrey{
    background-color: rgb(194, 194, 194);
}

.navLink:hover .imgHome{
    top: 0px;
}

.navLink a{
    color: white;
}

.navLink a:hover{
    text-decoration: none;
    color: white;
}

.shadow-n{
    box-shadow: 2px 2px 10px rgb(41, 41, 41);
}


.pt-6{
    padding-top: 6em;
}
/*--------backgrounds-----------*/

.background1{
   /* background: url('./../assets/imgs/background1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    width: 100%;
    height: 590px;
    margin: 0px;
    display: flex;
   /* justify-content: space-evenly;
    align-items: center;*/
}

.background2{
    background:url('./../assets/imgs/background2.jpg');
    background-position-y: 0%;
    background-size: cover;
    background-attachment: fixed;
}

.background3{
    background:url('./../assets/imgs/background3B.jpg');
    background-position-y: 0%;
    background-size: cover;
    background-attachment: fixed;
}

/*-------resumen general--------------*/

.photo{
    border: 1px solid rgb(39, 39, 39);
    width: 15em;
    height: 15em;
    text-align: center;
    box-shadow: 1px 1px 8px rgb(48, 48, 48);
    line-height: 15em;
    background-image:linear-gradient(rgb(218, 216, 216), rgb(179, 179, 179),rgb(119, 119, 119));
    border-radius: 100%;
}

@keyframes rotate1{
    0%{
        transform: rotateX(90deg);
    }
    50%{
        transform: rotateX(-50deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.summary{
    border: 1px solid rgb(39, 39, 39);
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 70%;
    transform: rotateX(90deg);

    animation-name: rotate1;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

/*---------------botones------------*/

.btn-mas{
    text-decoration: none;
    background-color: rgb(165, 165, 165);
    color: white;
    display: block;
    text-align: center;
}

/*-----------------------------------*/

/*-----------titulos----------------*/

.title1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}

.title2{
    font-size: 27px;
}

.title3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.titleBox{
    font-weight: bold;
    text-align: left;
    color: rgb(48, 48, 48);
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkPlus{
    display: inline-block;
    align-self: flex-end;
    justify-self: flex-end;
}
/*-----------------------------------*/

/*-------------bg-colores---------------*/

.bg-lightgrey{
    background-color: rgb(180, 180, 180);
}

.bg-darkgrey{
    background-color: rgb(56, 56, 56);
}

/*-----------------------------------*/

/*---------sections------------------*/

.about{
    background-color: rgb(0, 61, 102);
}

.proyectos{
    background-color: rgb(29, 29, 29);
}

.proyecto{
    position: relative;
    overflow: hidden;
}

.proyecto:hover .quickView{
    bottom: 0px;
}

/*-------------------------------------*/

/*--------------cajas------------------*/

.carta{
    width: 100%;
    height: 100%;
}

/*--------------------------------------*/

.info1 div ul{
    list-style: none;
}

#Textarea1{
    resize: none;
}

/*------------menú responsive------------*/

.menuResponsiveIMG{
    display: none;
}

.menuResponsivo{
    position: fixed;
    top: -500px;
    width: 100%;
    padding: 2em;
    z-index: 10;
    position: fixed;

    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.option{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 50px;
    margin-bottom: 10px;
}

.optionExit{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
}

.optionExit a{
    color: white;
}

.optionExit a:hover{
    text-decoration:none;
}

.link1{
    color: white;
    display: block;
    width: 100%;
    height: 100%;

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.link1:hover{
    background-color: rgb(148, 148, 148);
    color: rgb(39, 39, 39);
    text-decoration: none;
}

/*-------cajas info-------------*/

.contenido1{
    height: auto;
    overflow: hidden;

    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.contenido2{
    height: 0px;
    overflow: hidden;

    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.disabledLink, .disabledLink:hover{
    color: rgb(24, 24, 24);
    text-decoration: none;
}

