body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

/*---------------header------------------*/
.font-title1{
    font-size: 32px;
}

.mainName{
    height: 100%;
}

header{
    height: auto;
    padding: 1em;
}

.navBar{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navLink{
    line-height: 3em;
    height: 3em;
    width: auto;
    position: relative;
    overflow: hidden;
}

/*-----------imgHome--------------*/
.imgHome{
    position: absolute;
    background-color: royalblue;
    top: 50px;
    height: 100%;
    width: 100%;

    transition-property: top;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.bg-orange{
    background-color: rgb(255, 115, 0);
}

.bg-red{
    background-color: rgb(221, 36, 36);
}

.navLink:hover .imgHome{
    top: 0px;
}

.navLink a{
    color: white;
}

.navLink a:hover{
    text-decoration: none;
    color: white;
}

/*--------backgrounds-----------*/

.background1{
    background: url('./../assets/imgs/background1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 590px;
    margin: 0px;
    display: flex;
   /* justify-content: space-evenly;
    align-items: center;*/
}

/*-------resumen general--------------*/

.photo{
    border: 1px solid rgb(39, 39, 39);
    width: 15em;
    height: 15em;
    text-align: center;
    box-shadow: 1px 1px 8px rgb(48, 48, 48);
    line-height: 15em;
    background-image:linear-gradient(rgb(218, 216, 216), rgb(179, 179, 179),rgb(119, 119, 119));
    border-radius: 100%;
}

@keyframes rotate1{
    0%{
        transform: rotateX(90deg);
    }
    50%{
        transform: rotateX(-20deg);
    }
    75%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.summary{
    border: 1px solid rgb(39, 39, 39);
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    transform: rotateX(90deg);
    animation-name: rotate1;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-duration: 800ms;
}