body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

/*---------------header------------------*/
.font-title1{
    font-size: 32px;
}

.mainName{
    height: 100%;
}

header{
    height: 60px;
}

.navBar{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navLink{
    line-height: 3em;
    height: 3em;
    width: auto;
    position: relative;
    overflow: hidden;
}

/*-----------imgHome--------------*/
.imgHome{
    position: absolute;
    background-color: royalblue;
    top: 50px;
    height: 100%;
    width: 100%;

    transition-property: top;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.bg-orange{
    background-color: rgb(255, 115, 0);
}

.bg-red{
    background-color: rgb(221, 36, 36);
}

.navLink:hover .imgHome{
    top: 0px;
}

.navLink a{
    color: white;
}

.navLink a:hover{
    text-decoration: none;
    color: white;
}